html{
background:url(img/backg.jpg);
}
body{
width:1200px;
margin:auto;
}
.header{
width:1200px;
height:150px;
float:left;
}
.kategori{
width:1200px;
color:purple;
float:left;
}
.kategori ul li a{
display :block;
padding:10px 20px;
color:white;
text-decoration:none;
}
.kategori ul li a:hover{
width:150px;
background: rgba(225, 225, 225, 0.7);
}


.menu{
width:1200px;
background:rgba(122, 100, 300, 0.5);
color:white;
float:left;
}
.menu ul{
margin:0px;
padding:0px;
list-style-type:none;
float:left;
}
.menu ul li {
position:relative;
float:left;
}
.menu ul li a{
display :block;
padding:10px 20px;
color:white;
text-decoration:none;
}
.menu ul li a:hover{
background: rgba(225, 225, 225, 0.7);
}

.content{
width:1190px;
background:rgba(200, 400, 400, 0.2);
margin-top:20px;
float:left;
padding:5px;
}
.content1{
width:800px;
float:left;
background:rgba(200, 400, 400, 0.2);
padding:10px;
}
.barang{
width:350px;
float:left;
margin:auto;
text-decoration:none;}

.home{
width:230px;
float:left;
margin:auto;
text-decoration:none;

}
.content2{
width:325px;
height:500px;
float:right;
background:rgba(200, 400, 400, 0.2);
padding:10px;}

.content3{
width:1170px;
float:left;
background:rgba(200, 400, 400, 0.2);
padding:10px;
}
.footer{
width:1200px;
height:30px;
background:silver;
float:left;
text-align:center;
margin-top:10px;}
